.navbar {
    position: relative; /* Instead of fixed */
}

.form-control:disabled {
    background-color: #f7f7f7;
}

.table th, .table td {
    white-space: nowrap; /* Prevent text from wrapping */
    min-width: 40px; /* Adjust based on your content */
}